<!DOCTYPE html>
<html>
<head>
  <title>login page</title>
</head>
<body>

  <form name="login" th:action="@{/login}" method="POST">
    PLEASE LOGIN
    <div th:if="${param.error}">
      Invalid username and password.
    </div>
    <div th:if="${param.logout}">
      You have been logged out.
    </div>
    <input type="text" name="username" id="username" placeholder="emailAddress">
    <input type="password" name="password" id="password" placeholder="password">
    <div class="form-actions">
      <button type="submit">LOGIN</button>
    </div>
  </form>

</body>
</html>